{#<nav>#}
{#    <ul>#}
{#        {{ request.resolver_match.kwargs }}#}
{#        <li>#}
{#            <a href="{% url cat:category 0 %}" class = {% if request.resolver_match.kwargs.category_pk == '0' %}active{% endif %}>#}
{#                все#}
{#            </a>#}
{#        </li>#}
{#        {% for category in categories %}#}
{#            <li><a href="{% url 'cat:category' category.pk %}" class="active">{{ category.name }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</nav>#}


<nav>
   <ul class="links-menu">
    {#{ request.resolver_match.kwargs }#}
    <li>
        <a href="{% url 'cat:category' 0 %}"
           class="{% if request.resolver_match.kwargs.category_pk == '0' %}active{% endif %}">
            все
        </a>
    </li>
    {% for category in categories %}
        <li>
            <a href="{% url 'cat:category' category.pk %}"
            class="{% if request.resolver_match.kwargs.category_pk|add:0 == category.pk %}active{% endif %}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>
</nav>