{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block container %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="form-control" type="submit" value="{{ value }}">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin:main' %}">
                к списку пользователей
            </a>
        </button>
    </div>
{% endblock %}
