*{
	padding: 0px;
	margin:0px;
}

header {
	background: rgb(178, 181, 184);
	box-shadow: 0 0 15px rgb(76, 5, 94);
	font-family: 'Jura', sans-serif;
	padding: 20px;
	/*position: fixed;
	top: 0;*/
	width: 100%;
}


header nav ul{
	text-align: center;
	list-style: none;
	font-size: 20px;
}

header nav ul li{
	display: inline-block;
	margin: 0 20px;
}

header nav ul li a{
	text-decoration: none !important;
	color: white;
}

header nav ul li a:hover{
color: #FF0066;
}

main{
	/*background: url(/static/images/back1.jpg);*/
	background-attachment: fixed;
	font-family: 'Exo 2', sans-serif;
}

main h1{
	margin: 20px 0;
	text-align: center;
}

main .maintop{
	width: 100%;
	text-align: left;
	margin: 0 auto;
}

main .maintoptext{
	padding: 20px;
	margin: 0 auto;
	background:white;
		/*background: rgba(194, 196, 196, 0.95)*/
	width: 69%;
	font-size: 13pt;
}

main .maintoptext ul{
	margin-left: 30px;
}


main .maintoptext ul li{
	list-style-image: url(/static888/images/listItem1.png);
}


main .maintoptext a{
	text-decoration: none;
	color: black;
}


.btn-primary{
	color: black !important;
	border-color: #ced4da !important;
	background-color: white !important;
}



main .picture{
	text-align: center;
	background: white;
}

								/*.list:hover{
									border-radius: 3px;
								 	border: #9966FF solid 1px;
								}*/


.ByeButton{
	margin-bottom: 10px;
	text-align: right;
}

footer {
	background: rgb(178, 181, 184);
	box-shadow: 0 0 15px rgb(76, 5, 94);
	font-family: 'Jura', sans-serif;
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 20px;
	color: white;

}


.maintoptext {
 	border-radius: 15px;
 	border: #9966FF double 6px;
 }


.clearfix {
	clear: both;
}
