{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block main %}
<br>
<header>{% include 'mainapp/includes/inc_cmenu.html' %}</header>

<h1>Каталог</h1>

<div class="maintop">
        <div class="maintoptext">
        {% for product in products %}
        <h2>Oculus Rift</h2><br>
        <img src="{% static 'images/oculus.jpg' class="pic" %}"><br><br>
        Oculus Rift – шлем виртуальной реальности, разработанный компанией Oculus, способный унести любителей компьютерных игр и новых развлечений в захватывающий мир фантастического 3D пространства. Внешний вид гарнитуры выглядит привлекательно. Конструкция виртуальных очков легкая и удобная, подгоняется под любой размер лица. Снизу есть переключатель для настройки положения линз. Возле дисплеев имеется обивка из ткани, которая обеспечит комфортное соприкосновение с лицом. Встроенные наушники отстегиваются, их можно заменить другими.<br><br>
        <button class="buttonMore"><a href="{% url 'cat:product' product.pk %}">Подробнее<a></button>
        <br><br>
        <hr><br>

        <h2>HTC VIVE</h2><br>
        <img src="{% static 'images/htcvive.jpg' class="pic" %}"><br><br>
        Виртуальная реальность от HTC Vive совершенно не похожа опробованную вами до этого. Основное отличие виртуальной реальности HTC Vive от конкурентов в том, что здесь игроку можно не только двигаться, но и передвигаться в пространстве – ходить, прыгать, приседать и т.д. Это достигается благодаря не только привычным уже гиросенсору и акселерометру, установленным в устройстве, но и специальной системе лазерных датчиков. А две базовые станции Lighthouse отследят все ваши движения и перемещения в пространстве.
        <br>
        <button class="buttonMore"><a href="{% url 'cat:product' product.pk %}">Подробнее<a></button>
        <br><br>
        <hr><br>

        <h2>PlayStation VR</h2><br>
        <img src="{% static 'images/PSVR.jpg' class="pic" %}"><br><br>
        С момента, когда вы надеваете PlayStation VR, новую систему виртуальной реальности для PlayStation 4, вы начинаете по-новому ощущать игровой мир. Вы окажетесь в самом центре событий и увидите, как оживает каждая деталь невероятных миров, почувствуете себя так, словно оказались внутри игры.<br>
        <button class="buttonMore"><a href="{% url 'cat:psvr' %}">Подробнее<a></button>
        <br><br>
        <hr><br>

        <h2>Microsoft Holo Lens</h2><br>
        <img src="{% static 'images/MsHololens.jpg' class="pic" %}"><br><br>
        В нашем интернет-магазине вы можете купить Microsoft HoloLens по самой выгодной цене для Москвы и России. HoloLens - очки дополненной реальности (AR), гарнитура, позволяющая накладывать графику и текст на реальный мир, как вы видите его через линзы аппарата. Это не следует путать с виртуальной реальностью (ВР), где все, что вы видите, является созданный мир. Microsoft описывает его как «смешанная реальность» или «голограммы вычислений».<br>
        <button class="buttonMore"><a href="{% url 'cat:halolens' %}">Подробнее<a></button>
        <br><br>
        <hr><br>
        {% endfor %}
        </div>
</div>
{% endblock %}