{% extends 'mainapp/base_product.html' %}
{% load staticfiles %}


{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
<h1>HTC Vive</h1>

<div class="maintop">
        <div class="maintoptext">

        <h3>Погрузись в виртуальный мир!</h3>
        <br>

        <p>Vive является совместной разработкой компаний HTC и Valve. Система Vive - это самая лучшая и передовая реализация возможностей виртуального мира.</p><br>

        <p>Vive - это первая в своем роде система виртуальной реальности. Надень шлем и мгновенно и полностью - визуально, физически и эмоционально - перенесись в мир, наполненный впечатляющими персонажами и новыми мирами.</p><br><br>
            <div class="picture">
                <img src="{% static 'images/htcvive1.jpg' %}">
            </div>
        <br>

        <h2>Шлем</h2>

        <p>	Шлем виртуальной реальности Vive погружает тебя в мир, полный сюрпризов. Свободно двигайся и исследуй пространство вокруг себя - безопасное перемещение в игровой среде обеспечивается интегрированной интуитивно понятной системой Chaperone. Потрясающая графика отвечает за ощущения реальности и, одновременно, нереальности, происходящего.</p><br>

            <div class="picture">
                <img src="{% static 'images/htcvive3.jpg' %}">
            </div>
        <br>

        <h3>Контроллеры</h3>

        <p>	Сверхточная обратная связь и привычные жесты гарантируют интуитивно понятное взаимодействие с виртуальным миром по время игр и работы с различными приложениями. Каждый беспроводной контроллер системы Vive снабжен 24 сенсорами, что обеспечивает свободу движений. Теперь перед тобой открыто гораздо больше возможностей действий в виртуальном пространстве.</p><br>

            <div class="picture">
                <img src="{% static 'images/htcvive4.jpg' %}">
            </div>
        <br>

        <h3>Базовые станции</h3>

        <p>При использовании системы Vive каждое твое движение отслеживается с высочайшей точностью. Это достигается благодаря революционной технологии базовых станций, когда шлем и контролеры получают точные координаты своего положения в пространстве. Исследуй виртуальный мир и взаимодействуй с ним без каких-либо ограничений. В Vive VR с передвижением по комнате ты действительно окажешься в самом центре происходящего.</p><br>

            <div class="picture">
                <img src="{% static 'images/htcvive5.jpg' %}">
            </div>
        <br>

        <h3>При заказе ты получаешь:</h3>
        <p>При заказе Vive ты получаешь шлем, два беспроводных контроллера и две базовых станции для определения пространственного положения и отслеживания твоих движений во время игры.</p>

            <div class="picture">
                <img src="{% static 'images/htcvive2.jpg' %}">
            </div>

        <br>
        <h3>Системные требования:</h3>

        Перед тем как купить HTC Vive необходимо ознакомится с минимумом, который предъявляет к себе игровая система:
        <br><br>
        <ul>
            <li>
                Видеокарта: NVIDIA® GeForce® GTX 1060 / AMD Radeon™ R9 480, или лучше
            </li>

            <li>
                Процессор: Intel® i5-4590 / AMD FX 8350 или лучше
            </li>

            <li>
                Не менее 4ГБ оперативной памяти
            </li>

            <li>
                HDMI 1.4 или DisplayPort 1.2, или лучше
            </li>

            <li>
                Порт USB: 1 x USB 2.0 порт или более скоростной
            </li>

            <li>
                Windows 7 sp-1 или выше
            </li>

        </ul>

        <br>

        <h3>Технические характеристики:</h3>
        <br>

        <ul>
            <li>
                Тип дисплея: OLED
            </li>

            <li>
                Разрешение: 2160 x 1200 точек (1080х1200 на каждый глаз)
            </li>

            <li>
                Частота обновления: 90 Гц
            </li>

            <li>
                Угол обзора: FOV 110º
            </li>

            <li>
                Кол. кадров в сек FPS: 75 fps
            </li>

            <li>
                Совместимость ОС: 	SteamVR
            </li>

            <li>
                область отслеживания: 4,5х4,5 метра
            </li>

            <li>
                Кабель: HDMI 1.4b 10’ (отсоединяемый)
            </li>

            <li>
                HDMI, USB 2.х / 3.х
            </li>

            <li>
                Сенсоры: акселерометр, гироскоп, лазерный датчик положения, фронтальная камера
            </li>

            <li>
                Сенсор: IR CMOS
            </li>

            <li>
                Частота обновления: 1000 Hz
            </li>

            <li>
                Контроллеры: контроллер SteamVR, любой компьютер удовлетворяющий системным требованиям, совместимый геймпад
            </li>

            <li>
                Вес: 450г.
            </li>

            <li>
                Год выпуска: 2016
            </li>
        </ul>


            <div class="ByeButton">
                <button type="button" class="btn btn-success">
                    <a href="{% url 'basket:add' product.pk %}">Купить за {{ product.price }} руб.</a>
                </button>
            </div>


        </div>
</div>
{% endblock %}
