{% extends 'mainapp/base.html' %}
{% block title %}
    {{ block.super }}/ {{ add_title }}
{% endblock %}


{% block main %}
<h1>Шлемы виртуальной реальности. Как выбрать:</h1>

<div class="maintop">
        <div class="maintoptext">
            <span><b>На что обращать внимание при выборе шлема?</b></span>
            Перед тем, как определять лидеров нашего рейтинга, давайте определим: какие критерии по-настоящему важны для VR-гаджетов. Этот список не так уж велик, и в нем просто разобраться!
            <ul>
                <li>
                    <span><b>Цена.</b></span> Вся наша «великолепная» четверка никаким боком не относится к понятию «бюджетный девайс». Пока что шлемы виртуальной реальности – премиальный товар и дорогое удовольствие. Особенно если учитывать, что к тем же Oculus и HTC обязательно нужно докупать мощные игровые компьютеры, а к Samsung Gear – мощный смартфон. Но кое-где сэкономить можно: ведь в некоторых случаях переплату реально свести к минимуму.
                </li>

                <li>
                    <span><b>Графические характеристики.</b></span> К ним отнесем угол обзора, разрешение, частоту обновления и степень сглаживания картинки.  Если угол обзора у всех моделей примерно одинаков, то по другим параметрам есть расхождения. Обратите внимание на них: ведь при близком расположении экрана к глазному яблоку чем больше разрешение и fps, тем лучше. Это золотое правило. Иначе начнутся «усталость глаз», «волны по экрану» и другие неприятности.
                </li>

                <li>
                    <span><b>Степень готовности.</b></span> Даже в гонке предзаказов все не так однозначно. Здесь лучше не торопиться, а последить за первыми отзывами юзеров и экспертов. Вот вышел Oculus в продажу пару дней назад – и тут же посыпались жалобы! Плюс никто из разработчиков не скрывает, что их гаджеты будут серьезно апгрейдиться в ближайшее время. Получается, что иногда лучше дождаться этих обновлений и только потом покупать товар. А то уже через год вы останетесь с устаревшим шлемом за 1000 баксов.
                </li>

                <li>
                    <span><b>Доступ к контенту.</b></span> Если год назад многие разработчики шлемов еще рассчитывали «выехать» только за счет своих игр и софта, то теперь большинство поняло, что будущее – за общим контентом. «Оупенсорс» рулит: все делятся друг с другом хилыми запасами ПО ради продвижения рынка. Самсунг подружился с Oculus, HTC Vive пытается подружиться со всеми и только Sony надеется привлечь покупателя ограниченной продукцией под PlayStation4. Впрочем, зная рейтинги и количество консолей Sony по всему миру, может быть, это даже сыграет им на пользу.
                </li>

                <li>
                    <span><b>Контроллеры.</b></span> Тут все просто. Уже сейчас существуют универсальные и фирменные контроллеры. К геймпадам потихоньку добавляются «беговые дорожки», трекеры движений отдельных частей тела, симуляторы меча и пистолета и т.д. Кто из производителей предоставит клиенту лучшие контроллеры – тот и будет круче. Ведь в виртуальной реальности максимально важна система взаимодействий с окружающим миром.
                </li>

                <li>
                    <span><b>Датчики слежения.</b></span> Это из той же оперы. Чтобы перемещаться по огромным виртуальным мирам, нужно обладать идеальной системой трекинга движений человеческого тела. У кого-то это датчики на самом шлеме, у кого-то продается система датчиков, расположенная по всей комнате... Совершенства еще не достиг никто, но разница между трекингом у HTC и Oculus уже заметна. Valve явно лидирует!
                </li>

                <li>
                    <span><b>Индивидуальные впечатления.</b> </span> Читать обзоры – хорошо. Но всегда лучше потестить все доступные варианты в ближайшем шоуруме по тематике VR. Все мы знаем о проблеме «морской болезни», от которой так и не избавились создатели шлемов. Причем у разных людей тошнота и головокружения появляются на разные шлемы. Единственная гарантия защиты от такой беды – предварительное знакомство и тест-драйв симпатичной вам продукции. Хотя иногда причиной “морской болезни” является криво сделанный контент - этого тоже не стоит забывать.
                </li>
            </ul>
        </div>
</div>


<div class="maindown">

        <div class="maindownleft">
            <div class="OculusRift">
                <h4>
                    <a href="{% url 'cat:oculus' %}">Oculus Rift<a>
                </h4>
            </div>

            <div class="HTCVIVE">
                <h4>
                    <a href="{% url 'cat:htc_vive' %}">HTC Vive<a>
                </h4>
            </div>

        </div>

        <div class="maindownright">
            <div class="PSVR">
                <h4>
                    <a href="{% url 'cat:psvr' %}">PlayStation VR</a>
                </h4>

            </div>

            <div class="HOLOLENS">
                <h4>
                    <a href="{% url 'cat:halolens' %}">Microsoft Hololens</a>
                </h4>
            </div>

        </div>

</div>

<div class="clearfix"></div>

{% endblock %}

