{% extends 'mainapp/base_product.html' %}
{% load staticfiles %}


{% block title %}
{{ product.name }}
{% endblock %}


{% block main %}
<h1>{{ product.name }}</h1>

<div class="maintop">
    <div class="maintoptext">

         Oculus Rift – шлем виртуальной реальности, разработанный компанией Oculus, способный унести любителей компьютерных игр и новых развлечений в захватывающий мир фантастического 3D пространства. Внешний вид гарнитуры выглядит привлекательно. Конструкция виртуальных очков легкая и удобная, подгоняется под любой размер лица. Снизу есть переключатель для настройки положения линз. Возле дисплеев имеется обивка из ткани, которая обеспечит комфортное соприкосновение с лицом. Встроенные наушники отстегиваются, их можно заменить другими.<br><br>
            <div class="picture">
                <img src="{% static 'images/oculus3.jpg' %}">
            </div>
        <br>

        <h2>Что нового?</h2>

        <p>Oculus Rift CV1 является пользовательской версией игровых очков, которую отличают от предыдущей более совершенные характеристики. Эффект головокружения сведен к минимуму. Угол обзора и разрешение теперь стали больше. Грани экрана не занимают игровое поле, их просто не видно. Звук стал еще более реалистичным и объемным. Одним из приятных новшеств является возможность играть в игры, не снимая простые очки. Настроить Oculus Rift не сложно. После подключения его к ПК откроется программа Oculus Home, которая поможет все настроить. Для выбора игр можно воспользоваться приложением Oculus Home. Дисплеи активируются, как только шлем находится на голове, в остальное время они выключены.</p><br>

            <div class="picture">
                <img src="{% static 'images/oculus2.jpg' %}">
            </div>
        <br>
        <p>В комплекте с Oculus Rift CV1 идет пульт Oculus Remote для управления простыми задачами перелистывания меню или регулировки громкости, беспроводной игровой джойстик с микроконтроллером от Xbox One и сенсор-камера для отслеживания движений и перевода их в виртуальность.</p>

        <br>
        <h3>Системные требования:</h3>

        Перед тем как купить Oculus Rift CV1 необходимо ознакомится с минимумом, который предъявляет к себе игровая система:
        <br><br>
        <ul>
            <li>
                Видеокарта: Nvidia GTX 970 или AMD 270 и выше
            </li>

            <li>
                Процессор: Intel Core i5-4590
            </li>

            <li>
                8гб оперативной памяти
            </li>

            <li>
                Windows 7 или выше
            </li>

        </ul>

        <br>

        <h3>Технические характеристики:</h3>
        <br>

        <ul>
            <li>
                Диагональ: 5.7 дюйма
            </li>

            <li>
                Разрешение: 1920х1080 px
            </li>

            <li>
                Пикселей на дюйм: 386 PPI
            </li>

            <li>
                Частота обновления: 75 Hz, 72 Hz, 60 Hz
            </li>

            <li>
                Скорость смены пикселей (Persistence): 2 ms, 3 ms, full
            </li>

            <li>
                Угол обзора: FOV 110º
            </li>

            <li>
                Кол. кадров в сек FPS: 75 fps
            </li>

            <li>
                Совместимость ОС: Windows
            </li>

            <li>
                Контент: много, разные разработчики
            </li>

            <li>
                Кабель: HDMI 1.4b 10’ (отсоединяемый)
            </li>

            <li>
                USB 2.0
            </li>

            <li>
                Сенсоры: Гироскоп, Акселерометр, Магнитометр
            </li>

            <li>
                Сенсор: IR CMOS
            </li>

            <li>
                Частота обновления: 1000 Hz
            </li>

            <li>
                Комлектация: Очки Oculus Rift, пульт Oculus Remote, игровой джойстик от Xbox One, сенсор - камера отслеживания, кабель удлинитель USB, ткань для протирки, инструкция, две батарейки для джойстика.
            </li>

            <li>
                Вес: 440 г (без кабеля)
            </li>

            <li>
                Год выпуска: 2016
            </li>
        </ul>

         <div class="ByeButton">
            <button type="button" class="btn btn-success">
                <a href="{% url 'basket:add' product.pk %}">Купить за {{ product.price }} руб.</a>
            </button>
         </div>


    </div>
</div>
{% endblock %}
