{% extends 'mainapp/base_product.html' %}
{% load staticfiles %}


{% block title %}
PSVR
{% endblock %}


{% block main %}
<h1>PlayStation VR</h1>

<div class="maintop">
        <div class="maintoptext">

        <h3>Раздвигая границы игры</h3>
        <br>

            <div class="picture">
                <img src="{% static 'images/psvr4.jpg' %}">
            </div>
        <br>
        <p>С PS VR вы будете играть так, как не могли себе и представить, благодаря специальному экрану OLED, который передает изображение в супергладком режиме 120 Гц и диапазоне 360°, и 3D-звуку, который позволяет определять источники шума вокруг вас. Вы сможете полностью погрузиться в специально разработанные для PS VR игры, включая RIGS Mechanized Combat League и VR Worlds.</p><br>

            <div class="picture">
                <img src="{% static 'images/psvr1.jpg' %}">
            </div>
        <br>

        <h3>Играйте сами, вовлеките друзей</h3>

        <p>	Пусть ваши близкие наслаждаются игрой вместе или против вас благодаря социальному экрану PlayStation VR. Транслируйте изображение с гарнитуры на экран телевизора, чтобы другие игроки могли наблюдать за тем, что происходит с вами в игре. Позвольте другим игрокам присоединиться, даже когда вы полностью погружены в свой собственный мир.</p><br>

            <div class="picture">
                <img src="{% static 'images/psvr2.png' %}" style="width: 100%">
            </div>
        <br>

        <h3>Разработана так, чтобы быть незаметной</h3>

        <p>	Гарнитура спроектирована таким образом, чтобы быть максимально легкой и комфортной. Она просто и без усилий снимается и надевается, а регулируемая головная дужка для любого размера головы позволяет практически забыть о небольшом весе гарнитуры.</p><br>

            <div class="picture">
                <img src="{% static 'images/psvr3.jpg' %}">
            </div>

        <br>
        <h3>Системные требования:</h3>

        Перед тем как купить PlayStation VR необходимо ознакомится с минимумом, который предъявляет к себе игровая система:
        <br><br>
        <ul>
            <li>
                Игровая консоль PlayStation 4 (любая версия)
            </li>

            <li>
                PlayStation camera
            </li>

        </ul>

        <br>


        <h3>Что вы найдете в коробке:</h3>
        <br><br>
        <ul>
            <li>
                Гарнитура PlayStation VR
            </li>

            <li>
                Процессорный модуль
            </li>

            <li>
                Стереонаушники-вкладыши
            </li>

            <li>
                Кабели: HDMI и USB
            </li>

            <li>
                Адаптер переменного тока и кабель питания
            </li>

            <li>
                Адаптер подключения гарнитуры PS VR
            </li>
        </ul>
            <div class="picture">
                <img src="{% static 'images/psvr5.png' %}">
            </div>

        <br>


        <h3>Технические характеристики:</h3>
        <br>

        <ul>
            <li>
                Тип дисплея: OLED
            </li>

            <li>
                Разрешение:1920×RGB×1080 (960×RGB×1080 на один глаз)
            </li>

            <li>
                Частота обновления: 120 Гц, 90 Гц
            </li>

            <li>
                Угол обзора: FOV 110º
            </li>

            <li>
                Кол. кадров в сек FPS: 75 fps
            </li>

            <li>
                Шлем виртуальной реальности - HDMI, AUX, разъем для гарнитуры; Процессорный модуль - HDMI TV, HDMI PS4, USB, HDMI, AUX
            </li>

            <li>
                Сенсоры:Шестиосная система отслеживания движения (трехосный гироскоп, трехосный акселерометр)
            </li>

            <li>
                3D звук, социальный экран (зеркальный режим, отдельный режим), кинематический режим
            </li>

            <li>
                Контроллеры: Dual Shock, moove
            </li>

            <li>
                Шлем виртуальной реальности: примерно 610 г (без кабеля); Процессорный модуль: примерно 365 г
            </li>

            <li>
                Год выпуска: 2016
            </li>
        </ul>
        <br><br>

            <div class="ByeButton">
                <button type="button" class="btn btn-success">
                    <a href="{% url 'basket:add' product.pk %}">Купить за {{ product.price }} руб.</a>
                </button>
            </div>


        </div>
</div>
{% endblock %}
